{% extends 'base.html.twig' %}

{% block body %}
    {% verbatim %} 
    
    <div id="app">
        <v-app v-cloak>
            <v-navigation-drawer  permanent color="brown lighten-2" dark  app  v-if="this.$store.getters.isLoggedIn">
                <v-row>
                 <v-col>
                                 <v-spacer></v-spacer>
                 </v-col>
                </v-row>

                <v-row>
                 <v-col>
                         <v-list-item-title class="text-h6">
                                <div @click="home" class="row-pointer">Test app</div>
                            </v-list-item-title>
                        <v-list two-line>
                            <v-list-item
                                v-for="(item, index) in menuItems.navigation"
                                :key="index"
                                :to="item.path"
                                @click="item.action"
                            >
                            <v-list-item-content>
                                <v-list-item-title v-html="item.title"></v-list-item-title>
                            </v-list-item-content>
                            </v-list-item>
                        </v-list>

                 </v-col>
                </v-row>

            </v-navigation-drawer>

            <v-app-bar app color="brown lighten-2" dark fixed flat v-if="this.$store.getters.isLoggedIn">
                
                <v-spacer></v-spacer>
                <div >
                    <v-menu offset-y open-on-hover >
                        <template v-slot:activator="{ on, attrs }" >
                            <v-btn icon
                            v-bind="attrs"
                            v-on="on"
                            >
                                <v-icon>mdi-dots-vertical</v-icon>
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item
                                v-for="(item, index) in menuItems.user"
                                :key="index"
                                :to="item.path"
                                @click="item.action"
                            >
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </div>

            </v-app-bar>

            <v-main>
                <v-container fluid>
                    <router-view></router-view>
                </v-container>
            </v-main>

        </v-app>
    </div>

    {% endverbatim %}
{% endblock %}