{% extends 'base.html.twig' %}

{% block body %}
    {% verbatim %} 
    
    <div id="app">
        <v-app v-cloak>

            <v-navigation-drawer permanent :mini-variant.sync="mini" v-bind:class="{ minified: mini }" v-click-outside="closedrawer" mini-variant-width="64" color="light-blue darken-4" dark app v-if="this.$store.getters.isLoggedIn" width="260">
                <v-row> <v-col></v-col> </v-row>
                <v-row>
                    <v-col id="menucol">
                            <v-list-item-title class="text-h6 px-2 d-flex justify-space-between" >
                                <div @click="home" class="row-pointer" id="logo">Test app</div>
                                <v-btn icon @click.stop="mini = !mini" class="" ><v-icon>mdi-chevron-left</v-icon></v-btn>
                            </v-list-item-title>
                                
                            <hr role="separator" aria-orientation="horizontal" class="mb-2 v-divider theme--dark">

                            <v-list>
                                <v-list-item
                                    v-for="(item, index) in menuItems.navigation"
                                    :key="index"
                                    :to="item.path"
                                    @click="item.action"
                                >
                                <div class="v-list-item__icon"><i aria-hidden="true" :class="[item.icon, 'v-icon notranslate mdi theme--dark']" ></i></div>
                                <div class="v-list-item__content"><div class="v-list-item__title" v-html="item.title"></div><div class="v-list-item__subtitle"></div></div>


                            </v-list-item>
                        </v-list>

                    </v-col>
                </v-row>
            </v-navigation-drawer>

            <v-app-bar app flat v-if="this.$store.getters.isLoggedIn">
                
                <v-spacer></v-spacer>
                <div >
                    <v-menu offset-y open-on-hover >
                        <template v-slot:activator="{ on, attrs }" >
                            <v-btn icon
                            v-bind="attrs"
                            v-on="on"
                            >
                                <v-icon>mdi-account</v-icon>
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item
                                v-for="(item, index) in menuItems.user"
                                :key="index"
                                :to="item.path"
                                @click="item.action"
                            >
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                    <v-menu offset-y open-on-hover >
                        <template v-slot:activator="{ on, attrs }" >
                            <v-btn icon
                            v-bind="attrs"
                            v-on="on"
                            >
                                <v-icon>mdi-dots-vertical</v-icon>
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item
                                v-for="(item, index) in menuItems.extra"
                                :key="index"
                                :to="item.path"
                                @click="item.action"
                            >
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </div>

            </v-app-bar>

            <v-main>
                <v-container fluid>
                    <router-view></router-view>
                </v-container>
            </v-main>

        </v-app>
    </div>

    {% endverbatim %}
{% endblock %}