body {
  background-color: lightgray;
}

[v-cloak] {
  display: none;
}

.v-content {
  background-color: #bbdefb;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

.v-list {
  max-width: 750px;
}

.editBox {
  padding: 10px;
}

.card {
  max-width: 500px;
  text-align: left;
  margin: 2rem auto;
  color: #64748B;
}

.row-pointer {
  cursor: pointer;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.max-width-dt {
  max-width: 1200px;
}

#logo {
  background-image:url("/assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  color:#ffffff;
  margin: 14px 5px 10px 5px;
  width: 43px;
  height: 40px;
  transition:0.5s all;
}
.minified .theme--dark.v-navigation-drawer .v-divider {
  border-color: hsla(0,0%,100%,.15);
}
.theme--dark.v-navigation-drawer .v-divider {
  border-color: hsla(0,0%,100%,.4);
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
  background: linear-gradient(180deg, rgba(237,237,237,1) 7%, rgba(233,233,233,1) 99%, rgba(227,227,227,1) 100%);
}

.v-list {
  padding-left: 15px;
  padding-right: 15px;
}

.v-list-item,
.v-list-item::before {
  border-radius: 4px;
}

.v-list--nav .v-list-item:not(:last-child):not(:only-child),
.v-list--rounded .v-list-item:not(:last-child):not(:only-child) {
  margin-bottom: 8px;
}

.v-main>div>.container {
  padding: 20px 12px 12px 20px;
}

.tableHeader {
  line-height: 5em;
}

@keyframes dots {

  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: black;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
}